:root {
    //cores primarias
    --blue: #1565D8;
    --blue-extralight: #9BC1F9;
    --blue-light: #6FA8FB;
    --blue-dark: #3784F2;
    --blue-extradark: #1838A8;

    //cores auxiliares
    --red: #EB3D3D;
    --red-light: #F05454;
    --red-dark: #D03333;
    --green: #32D957;
    --green-light: #50E170;
    --green-dark: #28BB49;
    --yellow: #FFCE52;
    --yellow-light: #FFD76B;
    --yellow-dark: #D9B043;

    //Cores Brancas
    --white: #f5f6f9;
    --white-light: #FDFDFF;
    --white-dark: #EDEAEF;
    --white-button: #ffffff2d;

    //cores pretas
    --black: #322D43;
    --black-light: #444053;
    --black-dark: #1B1828;

    //cores cinzas
    --gray-1: #555456;
    --gray-2: #666566;
    --gray-3: #767576;
    --gray-4: #868587;
    --gray-5: #969597;
    --gray-6: #A6A6A7;
    --gray-7: #DDDDDD;
}