@font-face {
    font-family: "Ubuntu-Bold";
    src: url('../../../public/assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
    display: swap;
}
@font-face {
    font-family: "Lato";
    src: url('../../../public/assets/fonts/Lato/Lato-Regular.ttf');
    display: swap;
}
@font-face {
    font-family: "Lato-Bold";
    src: url('../../../public/assets/fonts/Lato/Lato-Bold.ttf');
    display: swap;
}
@font-face {
    font-family: "Lato-SemiBold";
    src: url('../../../public/assets/fonts/Lato/Lato-Bold.ttf');
    display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url('../../../public/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf');
    display: swap;
}